/* header section */
*{
    margin:0px;
    padding: 0px;

}
body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-image: url('../images/banner/banner2.png');
    width: 1600px;
    height: 809px;
    background-repeat: no-repeat;
}
.header-title{
    
    width: 525px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 216px 230px 365px 845px;

}
.banner-title{
    color: var(--dark-01, #151414);
    text-align: right;
    font-family:Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-des{
    padding-top: 24px;
    color: var(--dark-02, #444343);
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}
.btn{
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F15B22;
    border: 0px;
    color: white;
    font-weight: bold;
    padding: 21px 25px 20px 26px;
    margin-top: 32px;
    margin-left: 365px ;
    font-size: 18px;
}
/* Main section */
.main-container{
    
    margin: 120px;
}

.main-top{
    display: flex;
    align-items: center;
    
}
.main-head{
    padding-left: 134px;
}
.main-banner-title{
    display: flex;
    width: 288px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main-banner-des{
    display: flex;
    width: 416px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 16px;
}
ul{
    list-style: none;
  
    margin: 0px;
    padding: 0px ;
   
}
li{
    margin-top: 8px;
}
.main-middle-plans{
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 214px 500px 50px;

}
.main-middle-logo{
    display: flex;
    justify-content: space-between;

}
.main-middle-logo p{
    color: var(--dark-03, #737272);
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main-middle-logo h2{
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.logo2{
    padding: 50px 100px 25px;
}
.main-bottom{
    
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('../images/watch.png');
    margin-top: 130px;
    border:none;
}
.pstv{
    display: flex;
    width: 459px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 50px;
    }
.btn-2{
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    border: none;
    position: relative;
    margin-left: 50px;
    bottom: 130px;
    color: #F15B22;
    font-weight: bold;
    font-size: 15px;
}
/* Footer */
.footer-background{
    width: 1600px;
    height: 577px;
    flex-shrink: 0;
    background: var(--dark-01, #151414);
}

.footer-content{
    display: flex;   


}
.footer-future{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}
.footer-des{
    display: flex;
    width: 485px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    }
.footer-content{
    justify-content: space-around;
    
}
.footer-sub{
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
}
#fill{
    width: 325px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: #151414;
    color: var(--dark-07, #F3F3F3);
    font-family: Work Sans;
    font-size: 18px;
    font-weight:400;
    text-align:left;
    }
.btn-3{
    width: 170.106px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    
    color: #F15B22;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    
    margin-top: 16px;
    border: 0px;



}
.footer-content{
    padding: 100px;
}
.footer-title{
    margin-top: 100px;
}
.footer-form{
    margin-top: 100px;
}
.logo-2{
    display: flex;
    width: 46px;
    position: relative;
    top: 15px;
    right: 22px;
    margin-left: 20px;
    margin-bottom: -8px;
}
